.header-nav {
  z-index: 1100;
  padding-left: 16px;
}

#navbarNavDropdown {
  justify-content: flex-end;
  padding-right: 10px;
}

nav, nav .btn {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

nav .btn {
  padding: 7.5px 12px 5.5px 12px;
  color: var(--bs-nav-link-color) !important;
}

nav .btn:hover {
  border-color: var(--bs-btn-active-border-color);
  background-color: var(--bs-btn-active-bg);
  box-shadow: none;
}

a.nav-link:hover, a.dropdown-item:hover {
  text-decoration: none;
  color: white;
}

.nav-item {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 14px;
  white-space: nowrap;
}

.nav-item .social {
  display: none;
}

@media (max-width: 991px) {
  .nav-item .social {
    margin-left: 5px;
    display: inline;
  }

  .nav-item {
    padding-left: 15px;
  }

  nav .btn {
    margin-left: -5px;
    padding-left: 5px;
  }
}
